body {
    margin: 2em;
}

h1, p {
    font-family: sans-serif;
}

h1 {
    border-bottom: 1px solid #000;
    font-size: 4em;
    margin: 0 0 .5em 0;
    padding: 0 0 .125em 0;
}

ul, li {
    margin: 0 0 1em 0;
}

img {
    margin: 0 0 .5em 0;
    max-width: 100%;
}

p {
    color: #808080;
}
