<!doctype>
<html>
    <head>
        <title>deposit</title>
        <link rel="stylesheet" type="text/css" href="static/clear.css">
        <link rel="stylesheet" type="text/css" href="static/deposit.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% block body %}{% endblock %}
    </body>
</html>
