{% extends "layout.html" %}

{% block body %}

    <ul>
    {% for item in page.items %}
        <li>
            <img src="{{ archive_url }}/{{ item.filename }}">
            <p>Deposited at <span class="date">{{ item.pub_date|datetimeformat('%d-%m-%Y') }}</span></p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
